{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block content %}
    <div class="card border">
        <div class="card-header">
            {% if request.user == userinfo.user %}
            <h2>Личный кабинет</h2>
            {% else %}
            <h2>Страница пользователя</h2>
            {% endif %}
            Имя: {{ userinfo.user }}
        </div>
        <div class="card-body">
             {% if userinfo.photo %}
            <span class="card-img"><img src="{{ userinfo.photo.url }}" alt="Card image cap"></span>
              {% endif %}
            <p class="card-text" id="phone"> Телефон<input id="add-item-btn" type="button" value="Показать телефон"></p>




            <p class="card-text"> Почта: {{ userinfo.email }}</p>
            <p class="card-text"> Друзья пользователя:
            <br>
                {% for friend in userinfo.friends.all %}
                    {{ friend.username }}
                    <br>
                {% endfor %}

            </p>
            <p>
            Список постов пользователя:<br>
            {% for post in userinfo.user.post_author.all %}
            <a href="{% url 'webapp:post_detail' post.pk %}">{{ post.title }}</a>
                    <br>
            {% endfor %}
            </p>
            {% if request.user == userinfo.user %}
            <a href="{% url 'webapp:user_update' userinfo.pk %}">Редактировать</a>
            {% endif %}
        </div>



{% endblock %}

{% block scripts %}
<script>
        let button = document.getElementById('add-item-btn');
        let element = document.getElementById("phone");
        button.onclick = function() {
            element.innerText = "Телефон: {{ userinfo.phone }}";
        }
    </script>
{% endblock %}